@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

header {
    height: 150px;
}

h1 {
    font-family: Alfa Slab One, cursive;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    color: #9A031E;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#navigation {
    font-size: 150%;
}

#navigation, #logo {
    line-height: 75px;
}

#navigation li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#navigation a {
    text-decoration: none;
    color: #9A031E;
}

#navigation a:hover {
    color: #E36414;
}

.active {
    border-bottom: 1px solid #E36414;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 100%;
    width: 100%;
    margin: 0;
    background: url('../images/basketball_hero.jpg') no-repeat center center;
}

/* quote tagline */

#quote-outer {
    height: 260px;
    width: 100%;
    overflow: hidden;
}

#quote {
    margin-top: 20px;
    height: 100%;
}

#quote h1 {
    font-family: Roboto, sans-serif;
    text-transform: none;
    text-align: center;
    max-width: 80%;
    margin: auto;
    display: flex;
    font-size: 320%;
    letter-spacing: 4px;
    color: #E36414;
}

#quote h2 {
    font-family: inherit;
    float: right;
    margin-right: 20%;
    text-align: left;
    
    color: #9A031E;
}

/* horizontal rule */
hr {
    border: 0;
    height: 3px;
    margin: 20px 20px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(227, 100, 20), rgba(0, 0, 0, 0));
}

/* about us section*/
#about-us {
    height: 500px;
    border: none;
    padding: 2% 5%;
}

#welcome {
    font-family: Alfa Slab One, cursive;
    font-size: 50px;
    text-align: center;
    letter-spacing: 3px;
    color: #9A031E;
    padding-bottom: 20px;
}

.about-container {
    position: relative;
    float: left;
    height: 400px;
    width: 31%;
    margin: 3px 15px;
}

.about-image {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.text-overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgb(251, 139, 36, .9);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-radius: 8px;
}

.about-container:hover .text-overlay {
    bottom: 0;
    height: 100%;
}

.about-container h3 {
    text-align: center;
    font-size: 50px;
    color: #9A031E;
    border-bottom: 2px solid #9A031E;
}

.about-container ul {
    font-size: 30px;
}

.about-text {
    margin: 10% 10%;
}


/* footer */
footer {
    height: 150px;
}

.footer-links {
    text-align: center;   
}

.footer-links > li {
    display: inline;
}

.footer-links i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: #E36414;
}

/* fixtures_training.html */

#table, h3 {
    font-size: 140%;
    font-family: Alfa Slab One, cursive ;
    color: #9A031E;
    margin: auto;
    width: 75%;
    padding: 10px;
}

#table-container {
    margin: auto;
    width: 75%;
    padding: 10px;
    overflow-x: auto;
    overflow-y: auto;
}

#fixtures {
    width: 100%;
    font-family: Roboto, sans-serif;
    color: #9A031E;    
}

#fixtures th {
    font-size: 120%;
    text-align: center;
    padding: 15px;
    background-color: rgb(251, 139, 36, .7);
    color: white;
}

th, tr {
    vertical-align: middle;
}

th, td {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 2px solid #9A031E;
}

tr:hover {
    background-color: rgb(251, 139, 36, .7);
}