@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/*headings and logo*/

h1 {
    font-family: Alfa Slab One, cursive;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    color: #9A031E;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}